.heroContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 2rem;

  img {
    width: 100%;
  }
}

.text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
    h2 {
      text-transform: uppercase;
    }
}