img {
  width: 100%;
}

.heroContainer {
  position: relative;
  text-align: center;
  color: white;
  margin-bottom: 4rem;
}

.text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  text-align: left;
    h2 {
      text-transform: uppercase;
    }
}