@import '../base/_settings.scss';

.tileContainer {
  width: 100%;

  img {
    width: 100%;
  }
}

.tile {
  list-style: none;
  height: 30rem;

  a {
    color: $dark-blue;
    font-size: $font-size-small;
  }

  .title {
    font-size: $font-size-medium;
  }
}

//make padding even with boostrap col
.textContainer {
  padding-left: 15px;
}

@media (max-width: 992px) and (min-width: 768px) {
  .tile {
    height: 35rem;
  }
}

@media (max-width: 768px) and (min-width: 480px) {
  .tile {
    height: 32rem;
    padding-left: 20%;
    padding-right: 20%;
  }
}
