@import '../base/_settings.scss';

.videoList {
  margin-left: 4rem;
  margin-right: 4rem;

  ul {
    overflow: hidden;
    clear: both;
    padding-left: 0px;
  }

  p {
    color: $gaia-blue;
    margin-right: 15px;
    margin-left: 15px;
    font-size: $font-size-small;
  }
}

.dropDownButton {
  border-radius: 0;
  color: $grey;
  margin-right: 15px;
}

.buttonCol {
  text-align: right;
}

//remove margins for small screens
@media (max-width: 768px) {
  .videoList {
    margin-left: 0;
    margin-right: 0;
  }
  .buttonCol {
    text-align: center;
  }
  
}
